body {
    margin: 0;
    min-height: 100vh;
    background-color: #FFE4A0;
    display: flex;
    flex-direction: column;
    
    
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#calculator {
    border-radius: 5px;
    background-color: #9dbb96;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    padding: 10px;
}

.screen {
    border: 2px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex: 1;
    justify-content: end;
    margin: 10px;
    width: 220px;
    min-height: 50px;
    padding: 0 5px;
    text-align: right;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #D5D5C8;
    color: #404f50;
}

.buttons {
    display: flex;
}

.numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 95px;
}

.zero {
    display: flex;
    justify-content: center;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 55px;
    
}

.removers {
    display: flex;
}

button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 7px;
    font-size: 20px;
    padding: 0 5px;
    margin: 5px;
}

.removers button {
    font-size: 15px;
    padding: 0 5px;
}

.mathOps button {
    border-radius: 7px;
    font-size: 15px;
    padding: 0 5px;
}

.mathOps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex: 0;
    background-color: #61AFD3;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: 5px;
}

.equal button{
    padding: 9px 19px;
}

p {
    margin: 0;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    color: black;
}

.DS {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 460px;
    width: auto;
}

.upScrn {
    background-color: white;
    border-radius: 3px;
    position: absolute;
    top: 12.5%;
    left: 22.45%;
    height: 152px;
    width: 253.3px;
}

.btmScrn {
    background-color: white;
    border-radius: 3px;
    position: absolute;
    top: 55%;
    left: 27.9%;
    height: 152px;
    width: 204px;
}